

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  
}
/* font-family: 'Dancing Script', cursive; */
*{
  list-style: none;
  text-decoration: none;
  
}

.App {
  text-align: center;
 
}

/* common style -----------------*/

.background-styl{
  background-color: rgb(50, 100, 79);
}

.text-color{
  color: #16536b;
  

}

.f-family{
  font-family: "Dancing Script";
  
}

.text-font{
  font-family: "Dancing Script";
  color: rgb(0, 139, 54);
}

.logout-btn{
  cursor: pointer;
  margin-left: 380px;
  margin-right: 20px;
  height: 40px;
  width: 100px;
}




/* bananr page----------------------- */
.bannar{
  background-image: url(./img/banner1.png);
  background-position: center center;
  background-size: cover;
  font-family: "Dancing Script";
  color: rgb(0, 139, 54);
  
 
}


/* login form style--------------------- */

.login{
  box-shadow: 2px 2px 2px 2px rgb(107, 105, 100);
  border-radius: 20px;
  width: 400px;
  height: 500px;
  margin: 5% auto;
  padding: 10% 5%;
  background-image: url(./img/shape3.png);

}


input{
  border:none ;
  margin-right: 10px;
  border-bottom: 1px solid rgb(87, 88, 88);
  width: 300px;
  
}
/* purchse------------- */
.form-styl{
  
  border-radius: 15px;
  border: 1px solid lightgrey;
  
  height: 500px;

}



/* card style--------------------------- */

.card-style:hover{
 
  -ms-transform: rotate(7deg); 
   -webkit-transform: rotate(7deg); 
   transform: rotate(7deg);
   transition:transform 1s ;
  
}
.images{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* -------------------------------- */

.review{
  box-shadow: 2px 2px 2px 2px rgb(107, 105, 100);
  border-radius: 20px;
  
  height: 230px;
  margin: 5% auto;
  padding: 10% 5%;
  

}

/* -------------------------------- */
.blogs{
  background-color: lightgrey;
  border: 1px solid grey;
 border-radius: 50%;
 padding: 10px;
}
  


input[type="radio"]{
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200;
}


